@import "../../../assets/styles/variables.scss";
.mat-header-cell{
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.mat-row:nth-child(even) {
    background-color: gainsboro;
}

.mat-row:nth-child(odd) {
    background-color: red;
}

.container{
    width: 100%;
    margin-top: 15px;
    text-align: right;
}

table{
    min-width: 90%;
    margin: auto;
    text-align: center;
}


::ng-deep.mat-paginator{
    width: 80%;
    margin: auto;
}


.mat-form.field{
    font-size: 13px;
    width: 20%;
    
}