<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{pokemon.name}}</mat-card-title>
      <mat-card-subtitle>NO {{pokemon.id}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{pokemonImg}}" alt="pokemon" width="500" height="365px">
    <mat-card-content>
      <mat-chip-set class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
          <mat-chip class="example-box" cdkDrag>Name: {{pokemon.name}}</mat-chip>
          <mat-chip class="example-box" cdkDrag>Height: {{pokemon.height}}</mat-chip>
          <mat-chip class="example-box" cdkDrag>Weight: {{pokemon.weight}}</mat-chip>
      </mat-chip-set>
      
      
    </mat-card-content>
  </mat-card>
  